{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3">
            menu
        </div>
        <div class="col-6">
            {% for product in products %}
            <a href="#">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <h6 class="card-subtitle">test</h6>
                        <p class="card-text">{{ product.description }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}